.info{
font-family: 'Nunito Sans', sans-serif;
font-size:20px;
padding-top:-20px;
}

.h__slogan--btn2{
color:#fff;
text-decoration :none;
padding: 10px 20px; 
background:#e1b12c; 
border-radius: 4px;
cursor:pointer; 
}

.centre1{
text-align:center;
padding-top:36px;
}

.
