.articles {
text-align: center;
padding-top:240px;
} 
.article__title {
font-size:25px; 
text-align:center; 
color:#333;
border-bottom: 4px solid #e1b12c;
display: inline; 
}

.articles__items {
display: flex;
flex-direction: row;
justify-content: space-between;
padding-top:70px; 
flex-wrap:wrap; 
}

.article1{
width:25%;
height:250px;
border-radius:5px;
background-size:cover; 
position:relative;
top:-245px;
margin:0 160px;
cursor:pointer;
text-decoration:none;
}

.article2{
width:25%;
height:250px;
border-radius:5px;
background-size:cover; 
position:relative; 
top:-250px;
position:relative; 
margin:0 160px;
cursor:pointer;
text-decoration:none;
}



.article__name1{
color:#333;
position:relative; 
text-align:center;
top:275px; 
font-family:font-family: 'Nunito Sans', sans-serif;
font-size:18px;
font-weight:bold;
}

.article__name2{
color:#333;
position:relative; 
text-align:center;
top:275px; 
font-family: font-family:'Nunito Sans', sans-serif;
font-size:18px;
font-weight:bold;
}



@media only screen and (max-width: 1500px) {
	.article__items {
		justify-content: center;
	}
		.article1{
			width:275px;
			margin:0 0px;
			margin-bottom:200px;
			margin-left:20px;
		} 
		.article2{	
			width:270px;
			margin:0 0px;
			margin-bottom: 80px;
			margin-left:20px;
		} 
}
.espace__blanc{
color:#fff;
} 



.form{
width:100%;
}

.form__title{
text-align:center;
font-size:30px;
font-weight:700;
margin-top:125px;
margin-bottom:32px; 
color:rgba(0,0,0,0.8);
}
.header__other-page{
height:350px;
}


.article1:hover .article__icon{
transform: translateY(0);
}
.article2:hover .article__icon{
transform:translateY(0); 
} 


.article__icon {
z-index:1;
position:absolute;
top:0;left:0;
display:flex;
justify-content:center;
align-items:center;
color:white;
font-size:30px;
height:100%;
width:100%;
transition:all 0.3s ease-in-out; 
transform: translateY(110%);
} 



 
