.form{
width:100%;
}

.form__title{
text-align:center;
font-size:33px;
font-weight:700;
margin-top:125px;
margin-bottom:32px; 
color:rgba(0,0,0,0.8);
}
.form__title1{
text-align:center;
font-size:33px;
font-weight:700;
margin-top:50px;
margin-bottom:32px; 
color:rgba(0,0,0,0.8);
}

.form__inner{
display:flex;
flex-direction:column; 
justify-content:center; 
align-items:center;
}



.form__block{
width:200px;
}


.form__label{
font-weight:400;
font-size:18px;
margin-top:15px;
margin-bottom:4px;
}


.form__input{
height:30px;
width:100%; 
margin-top:15px; 
border-radius:5px;
border: 2px solid #e1b12c;
}



.espace__blanc{
color:#fff;
}


